<div class="row animated fadeIn">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="splash-panel">
            <h3 class="header-title-btm">Community Memberships</h3>
            <div ng-repeat="org in community.bio.community track by $index">
                <div ng-class="community.placeCssHeaderNo1st($index, community.bio.community,'spacer-small')">
                    <img ng-src="{{org.img}}" alt="{{org.title}} +logo" class="img-medium"/>
                    <p>{{org.title}}</p>
                    <p class="tag-line">{{org.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>