<div class="row animated fadeIn">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="splash-panel">
            <h3 class="header-title-btm">Community Memberships</h3>
            <div ng-repeat="org in community.bio.community track by $index">
                <div ng-class="community.placeCssHeaderNo1st($index, community.bio.community,'spacer-small')">
                    <a class="project-link" ng-href="{{org.url}}">
                        <div class="text-center animated fadeInUp">
                            <img ng-src="{{org.img}}" alt="{{org.title}} +logo" class="img-medium"/>
                        </div>
                        <div class="project-title">{{org.title}}</div>
                    </a>
                    <p class="tag-line tag-line-community">{{org.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>