@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  color: #0a0a0a;
  font-size: 1.6rem;
  font-family: 'Tienne', serif;
  margin: 0;
  min-width: 300px;
  padding: 0; }

p {
  font-family: 'Open Sans', sans-serif; }

.red {
  border: 1px solid red; }

.ani-slide-saw {
  animation-name: slide-saw-animation;
  animation-duration: 13.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes slide-saw-animation {
  0% {
    transform: translate(0%, 0%); }
  25% {
    transform: translate(-1rem, 0%); }
  50% {
    transform: translate(0%, 0%); }
  75% {
    transform: translate(1rem, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.ani-slide-left-right {
  animation-name: logo-in-animation;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes slide-left-right-animation {
  0% {
    transform: translateX(100%); }
  80% { }
  100% {
    transform: translateX(0); } }

.ani-slide-up {
  animation-name: slide-up-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes slide-up-animation {
  0% {
    transform: translateY(100%); }
  40% {
    transform: translateY(0%); }
  70% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }

.ani-slide-right {
  animation-name: slide-right-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  position: relative; }

@keyframes slide-right-animation {
  0% {
    left: -9rem; }
  40% {
    left: 0; }
  70% {
    left: 0; }
  100% {
    left: 9rem; } }

.ani-slide-in-up {
  animation-name: slide-in-up-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.pre-ani-slide-in-up {
  opacity: 0;
  transform: translateY(100%); }

@keyframes slide-in-up-animation {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.ani-slide-right-left {
  animation-name: slide-right-left-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  position: relative; }

@keyframes slide-right-left-animation {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

.dots-pattern-sm-leather {
  background-color: transparent;
  background-image: radial-gradient(#967d5a 15%, transparent 16%), radial-gradient(#967d5a 15%, transparent 16%);
  background-size: 10px 10px;
  background-position: 0 0, 30px 30px;
  height: 100%;
  width: 120vw;
  position: absolute;
  z-index: -10; }

.dots-pattern-sm-leather:before {
  bottom: 0;
  color: white;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  background-image: radial-gradient(#967d5a 15%, transparent 16%), radial-gradient(#967d5a 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  animation-name: slide-saw-animation;
  animation-duration: 13.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.dots-pattern-sm-black {
  background-color: white;
  background-image: radial-gradient(#0a0a0a 15%, transparent 16%), radial-gradient(#0a0a0a 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  height: 100%;
  width: 120vw;
  position: absolute;
  z-index: -1; }

.dots-pattern-sm-white {
  background-color: #0a0a0a;
  background-image: radial-gradient(white 15%, transparent 16%), radial-gradient(white 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  height: 100%;
  width: 120vw; }

.checkers-pattern-md-black {
  background-color: white;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 100px 100px; }

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 100%; }

.container-ads {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  left: -100%;
  padding: 1rem;
  position: relative;
  width: 100%; }

.layout-content {
  min-width: 300px;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  width: auto; }

.layout-content__header {
  margin: 10rem auto 2rem;
  position: relative;
  text-align: center; }

.layout-content__title {
  background-color: #0a0a0a;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px #967d5a;
  color: white;
  display: inline-block;
  font-size: 4.8rem;
  padding: 0.5rem 1rem;
  width: 50%; }

.main-content {
  margin: 0 auto 5rem;
  min-height: 70vh;
  padding: 1rem 0;
  position: relative; }

@media screen and (min-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto; } }

.row-menu {
  background-color: black; }

@media screen and (min-width: 992px) {
  .container {
    width: 94%;
    margin: 0 auto; }
  .container-main {
    display: flex;
    flex-direction: row;
    margin: 6rem 0; }
  .container-side {
    padding: 0 1rem; } }

.ani-logo-in {
  animation-name: logo-in-animation;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes logo-in-animation {
  0% {
    transform: translateY(200px); }
  80% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

.ani-rock {
  animation-name: rock-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  position: relative; }

@keyframes rock-animation {
  0% {
    transform-origin: left;
    transform: rotate(0deg); }
  25% {
    transform: rotate(2deg); }
  50% {
    transform: rotate(-2deg); }
  100% {
    opacity: 1;
    transform: rotate(0deg); } }

.ani-slide-saw {
  animation-name: slide-saw-animation;
  animation-duration: 13.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes slide-saw-animation {
  0% {
    transform: translate(0%, 0%); }
  25% {
    transform: translate(-1rem, 0%); }
  50% {
    transform: translate(0%, 0%); }
  75% {
    transform: translate(1rem, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.ani-slide-left-right {
  animation-name: logo-in-animation;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes slide-left-right-animation {
  0% {
    transform: translateX(100%); }
  80% { }
  100% {
    transform: translateX(0); } }

.ani-slide-up {
  animation-name: slide-up-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes slide-up-animation {
  0% {
    transform: translateY(100%); }
  40% {
    transform: translateY(0%); }
  70% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }

.ani-slide-right {
  animation-name: slide-right-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  position: relative; }

@keyframes slide-right-animation {
  0% {
    left: -9rem; }
  40% {
    left: 0; }
  70% {
    left: 0; }
  100% {
    left: 9rem; } }

.ani-slide-in-up {
  animation-name: slide-in-up-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.pre-ani-slide-in-up {
  opacity: 0;
  transform: translateY(100%); }

@keyframes slide-in-up-animation {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.ani-slide-right-left {
  animation-name: slide-right-left-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  position: relative; }

@keyframes slide-right-left-animation {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  color: #0a0a0a;
  font-size: 1.6rem;
  font-family: 'Tienne', serif;
  margin: 0;
  min-width: 300px;
  padding: 0; }

p {
  font-family: 'Open Sans', sans-serif; }

.red {
  border: 1px solid red; }

.ani-fade-in {
  animation-name: fade-in-animation;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

@keyframes fade-in-animation {
  0% {
    display: block;
    opacity: 0.7;
    transform: translateX(-5px) scale(1); }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1); } }

.ads {
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem;
  position: relative;
  width: 200px; }

.ads__button {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: white;
  border: 1px solid #0a0a0a;
  color: #0a0a0a;
  font-size: 1rem;
  height: 2rem;
  right: 0;
  outline: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2rem; }

.ads__button:hover {
  background-color: red;
  color: white;
  transform: translateX(0.3rem); }

.ads__link {
  color: inherit;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.ads__link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #34AC98;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

.ads__link--right .ads__text {
  color: white; }

.ads__prices {
  align-items: center;
  display: flex;
  justify-content: space-around; }

.ads__section {
  align-items: center;
  border: 1px solid #0a0a0a;
  display: flex;
  justify-content: center;
  height: 4.8rem;
  overflow: hidden;
  width: 10rem;
  text-align: center; }

.ads__section--left {
  align-items: center;
  background-color: white;
  border-right: 1px dashed #0a0a0a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.ads__section--right {
  align-items: center;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  position: relative;
  border-left: 1px dashed white; }

.ads__text {
  color: #0a0a0a; }

.ads__text--price {
  color: #0a0a0a;
  display: inline;
  width: 33.33%; }

.ads__text--white {
  color: white; }

@media screen and (max-width: 479px) {
  .ads__hide {
    display: none; } }

.blogs {
  overflow: hidden; }

.blog {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  align-items: center;
  background-color: white;
  border: 15px solid white;
  box-shadow: inset 0 0 0 3px #967d5a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  min-height: 20rem;
  padding: 1rem;
  position: relative;
  transition-timing-function: ease-in-out;
  width: 90%; }

.blog:after {
  background: rgba(10, 10, 10, 0.7);
  border-radius: 5px;
  bottom: -15px;
  box-shadow: 0 10px 4px rgba(10, 10, 10, 0.5);
  content: '';
  left: -15px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: -1; }

.blog--link:link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  color: #0a0a0a; }

.blog--link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #d3c7b6;
  color: #0a0a0a; }

.blog__date {
  color: #AAAAAA;
  font-size: 1.6rem; }

.blog__img-container {
  display: block;
  position: relative;
  width: 70%; }

.blog__img-container__img {
  width: 100%; }

.blog__link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color; }

.blog__link:hover {
  color: inherit;
  text-decoration: none;
  color: #EC6635; }

.blog__link--more {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color;
  color: #34AC98; }

.blog__link__thumbnail-container {
  overflow: hidden;
  height: 12rem;
  width: 100%; }

.blog__link__thumbnail-container:after {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: white;
  display: block;
  content: "";
  opacity: 0; }

.blog__link:hover .blog__link__thumbnail-container:after {
  background-color: white;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20; }

.blog__link__thumbnail-container__img {
  transition: 1s all;
  background-color: white;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  overflow: hidden;
  width: 100%; }

.blog__link:hover .blog__link__thumbnail-container__img {
  transform: scale(1.03); }

.blog__link__title {
  font-size: 1.2rem;
  padding: 1rem 0; }

.blog__section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem; }

.blog__section--left {
  justify-content: flex-end;
  flex: 1 1; }

.blog__section--right {
  align-items: baseline;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem; }

.blog__title {
  font-size: 1.6rem;
  width: 65%; }

.blog__text {
  font-family: 'Open Sans', sans-serif; }

.blog-detail {
  background-color: white; }

@media screen and (min-width: 480px) {
  .blog {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .blog {
    width: 50%; } }

.blog-detail {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  align-items: center;
  background-color: white;
  border: 15px solid white;
  box-shadow: inset 0 0 0 3px #967d5a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem auto;
  min-height: 20rem;
  padding: 1rem;
  position: relative;
  transition-timing-function: ease-in-out;
  width: 90%; }

.blog-detail:after {
  background: rgba(10, 10, 10, 0.5);
  border-radius: 5px;
  bottom: -15px;
  box-shadow: 0 10px 3px rgba(10, 10, 10, 0.5);
  content: '';
  left: -15px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: -1; }

.blog-detail--link:link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  color: #967d5a; }

.blog-detail--link:hover {
  color: inherit;
  text-decoration: none;
  background-color: #d3c7b6;
  color: #c9b364; }

.blog-detail__date {
  color: #AAAAAA;
  font-size: 1.6rem; }

.blog-detail__img-container {
  display: block;
  position: relative;
  width: 70%; }

.blog-detail__img-container__img {
  width: 100%; }

.blog-detail__highlight {
  background-color: #c9b364; }

.blog-detail__link,
.blog-detail__link:visited {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color;
  color: #967d5a;
  text-decoration: underline; }

.blog-detail__link:hover {
  color: inherit;
  text-decoration: none;
  color: #c9b364;
  text-decoration: underline; }

.blog-detail__section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1rem; }

.blog-detail__section--left {
  justify-content: flex-end;
  flex: 1 1; }

.blog-detail__section--right {
  align-items: baseline;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem; }

.blog-detail__title {
  font-size: 2rem;
  color: #967d5a; }

.blog-detail__text {
  font-size: 1.6rem; }

.blog__detail__text--thanks {
  color: #1d3949;
  font-style: italic; }

.blog-detail {
  background-color: white; }

@media screen and (min-width: 480px) {
  .blog-detail {
    width: 70%; } }

@media screen and (min-width: 900px) {
  .blog-detail {
    flex-direction: row; }
  .blog-detail__section--left {
    align-self: flex-start;
    justify-content: center;
    margin: 4rem 0 0; }
  .blog-detail__section--right {
    flex: 2 2; } }

.btn {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
  min-width: 5rem;
  outline: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: #fff 0 1px 1px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(60deg, #ff6666 50%, #ff9999 50%);
  color: #401919;
  border: 1px solid red; }

.btn:hover {
  text-decoration: none;
  background: linear-gradient(60deg, #ff4d4d 70%, #ff8080 30%); }

.ani-fade-in {
  animation-name: fade-in-animation;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

@keyframes fade-in-animation {
  0% {
    display: block;
    opacity: 0.7;
    transform: translateX(-5px) scale(1); }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1); } }

.contact {
  background-color: white;
  border: 15px solid white;
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px #967d5a;
  font-size: 1.2rem;
  margin: 0 auto 2rem;
  padding: 3rem;
  position: relative;
  width: 90%; }

.contact:after {
  background: rgba(10, 10, 10, 0.5);
  border-radius: 5px;
  bottom: -15px;
  box-shadow: 0 10px 3px rgba(10, 10, 10, 0.5);
  content: '';
  left: -15px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: -1; }

.contact__link,
.contact__link:visited {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0;
  word-break: break-all; }

.contact__link:hover {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0;
  text-decoration: underline; }

.contact__link--http {
  text-transform: lowercase; }

.contact__link--http:hover {
  text-transform: lowercase; }

.contact__title {
  color: #0a0a0a;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1rem 0;
  text-align: center; }

@media screen and (min-width: 480px) {
  .contact {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .contact {
    font-size: 1.6rem;
    width: 50%; }
  .contact__link,
  .contact__link:visited {
    font-size: 1.6rem; }
  .contact__link:hover {
    font-size: 1.6rem; } }

.ani-fade-in {
  animation-name: fade-in-animation;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

@keyframes fade-in-animation {
  0% {
    display: block;
    opacity: 0.7;
    transform: translateX(-5px) scale(1); }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1); } }

.feature {
  background-color: white;
  display: none;
  position: absolute;
  opacity: 0.5;
  transition: 0s all ease-in-out;
  top: 0; }

.feature--active {
  display: block;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0; }

.feature__credit {
  color: #AAAAAA;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  text-align: right; }

.feature__img-container {
  background-color: #E5E5E5;
  max-height: 24rem;
  min-height: 24rem;
  overflow: hidden;
  width: 100%; }

.feature__img-container__img {
  width: 100%; }

.feature__link {
  color: inherit;
  text-decoration: none;
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  bottom: 0;
  position: absolute;
  width: 100%; }

.feature__link:hover {
  opacity: 0.7; }

.feature__link__title {
  background-color: rgba(255, 255, 255, 0.8);
  color: #0a0a0a;
  font-size: 1.6rem;
  padding: 1rem;
  text-transform: capitalize; }

.feature__link__description {
  background-color: #0a0a0a;
  color: white;
  font-size: 1.2rem;
  padding: 1rem; }

.feature__menu {
  display: none; }

.feature__menu__link {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: #EFF8F7;
  border-right: 1px solid #c0ece5;
  color: #34AC98;
  flex: 1 1;
  padding: 2rem;
  text-align: center;
  transform: translateY(-2.4rem); }

.feature__menu__link:hover {
  color: white;
  text-decoration: none; }

.feature__menu__link:last-child {
  border-right: 0; }

.feature__menu__link--active {
  background-color: #ddf0ee; }

.feature__section {
  overflow: hidden;
  position: relative; }

@media screen and (min-width: 768px) {
  .feature__credit {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #333333;
    display: inline-block;
    left: 75%;
    padding: 0.5rem;
    position: relative;
    transform: translateY(-120%); }
  .feature__link {
    bottom: 25%;
    width: auto; }
  .feature__link--right {
    text-align: right;
    right: 0; }
  .feature__link__title {
    background-color: white;
    display: inline-block;
    font-size: 2.6rem; }
  .feature__link__description {
    display: block;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif; } }

@media screen and (min-width: 992px) {
  .features {
    overflow: hidden;
    height: 40.3rem;
    position: relative;
    width: 100%; }
  .feature:nth-of-type(2n + 1) .feature__link {
    text-align: right;
    right: 0; }
  .feature__img-container {
    max-height: 34rem;
    min-height: 34rem;
    overflow: hidden;
    width: 100%; }
  .feature__menu {
    display: flex;
    justify-content: flex-start; } }

.footer {
  background-color: #0a0a0a;
  border-top: 1px solid #0a0a0a;
  font-size: 1rem;
  padding: 4rem 1rem;
  position: relative; }

.footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 70px solid black;
  top: -35px;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, 0%); }

.footer__logo {
  align-items: center;
  background: white;
  border: 3px solid #967d5a;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 1rem;
  overflow: hidden;
  padding: 1rem;
  width: 100px; }

.footer__logo:hover {
  background-color: #0a0a0a;
  color: white; }

.footer__logo:hover .footer__text {
  display: block; }

.footer__logo:hover .footer__logo__img-container {
  width: 100%; }

.footer__logo:hover .footer__logo__img-container__img {
  display: none; }

.footer__logo__img-container {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  width: 50px; }

.footer__logo__img-container__img {
  width: 100%; }

.footer__link {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color; }

.footer__link:hover {
  color: white;
  text-decoration: none; }

.footer__section {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: space-between; }

.footer__text {
  display: none;
  font-size: 1.6rem;
  text-align: center; }

.footer__title {
  color: white;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center; }

.ani-fade-in {
  animation-name: fade-in-animation;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

@keyframes fade-in-animation {
  0% {
    display: block;
    opacity: 0.7;
    transform: translateX(-5px) scale(1); }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1); } }

.home {
  margin: 7rem auto;
  padding: 1rem;
  width: 90%; }

.home__title--fancy {
  background-color: white;
  color: #967d5a;
  transform: translate(-2rem, 0); }

.home__footer {
  background-color: #967d5a;
  font-size: 1.2rem;
  margin: 1rem -5rem;
  padding: 1rem 2rem; }

.home__title {
  box-shadow: 2px 2px 0 2px #0a0a0a;
  background-color: #967d5a;
  color: #0a0a0a;
  display: inline-block;
  font-size: 4.8rem;
  padding: 1rem;
  text-align: center; }

.home__title--sm {
  background-color: #0a0a0a;
  color: #967d5a;
  display: inline-block;
  font-size: 2rem;
  text-align: right; }

.home__title--xs {
  background-color: #0a0a0a;
  color: #967d5a;
  display: inline-block;
  font-size: 1.6rem;
  text-align: right; }

@media screen and (min-width: 480px) {
  .home {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .home {
    width: 50%; }
  .home__title {
    font-size: 7.8rem; }
  .home__title--sm {
    font-size: 4.8rem; } }

.menu {
  background-color: #0a0a0a;
  display: flex;
  flex-direction: row;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 99999; }

.menu__btn {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color;
  background-color: transparent;
  border: 1px solid #967d5a;
  padding: 0.5rem; }

.menu__btn:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #967d5a; }

.menu__img-container {
  align-items: center;
  background-color: #0a0a0a;
  background: linear-gradient(180deg, rgba(52, 172, 152, 0.5) 30%, #EC6635 30%);
  border: 8px solid #0a0a0a;
  border-radius: 50%;
  display: flex;
  height: 10rem;
  justify-content: center;
  position: relative;
  width: 10rem;
  transform: translateY(20rem); }

.menu__img-container__img {
  color: white;
  display: inline-block;
  font-size: 2.6rem;
  margin: 2rem 0;
  text-transform: capitalize; }

.menu__link {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color;
  font-size: 1.6rem;
  padding: 0 0.5rem; }

.menu__link:link,
.menu__link:visited {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color; }

.menu__link:hover {
  color: white;
  text-decoration: none; }

.menu__link.active {
  border: 1px solid #967d5a;
  color: white; }

.menu__link__sub-menu,
.menu__link__sub-menu:visited {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s color;
  display: block;
  margin: 0;
  padding: 1rem; }

.menu__link__sub-menu:hover {
  color: white;
  text-decoration: none;
  background-color: #967d5a;
  color: #0a0a0a; }

.menu__link__sub-menu.active {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white; }

.menu__link__icon {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem; }

.menu__list {
  background-color: #0a0a0a;
  border-top: 1px solid #967d5a;
  left: 0;
  margin: 6.5rem 0 0;
  position: relative;
  right: 0;
  z-index: 9999; }

.menu__section {
  display: flex;
  justify-content: space-around;
  padding: 1.6rem 0.6rem; }

.menu__section--border-bottom {
  border-bottom: 1px solid rgba(229, 229, 229, 0.5); }

@media screen and (max-width: 767px) {
  .menu__section--sm {
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: space-between; } }

@media screen and (min-width: 768px) {
  .menu__link {
    font-size: 2rem; }
  .menu__section {
    flex: 4 1; }
  .menu__section--left {
    flex: 2 1;
    justify-content: flex-start; }
  .menu__section--right {
    align-items: center;
    display: flex;
    flex: 2 1;
    justify-content: flex-end; } }

.newsletter {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  margin: 3rem 0;
  padding: 1rem; }

.newsletter__btn {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
  min-width: 5rem;
  outline: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: #fff 0 1px 1px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  background-color: #E5E5E5;
  border: 1px solid black;
  color: #333333;
  display: inline-block;
  flex: 0 0 auto;
  font-size: 1.2rem;
  margin: 0 1rem;
  position: relative; }

.newsletter__btn:hover {
  text-decoration: none; }

.newsletter__btn:hover:after {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: #34AC98;
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3; }

.newsletter__icon {
  flex: 1 1 auto;
  font-size: 2.6rem;
  margin: 0 1rem; }

.newsletter__input {
  border: 1px solid #AAAAAA;
  flex: 1 1 20rem;
  font-size: 1.6rem;
  text-indent: 0.5rem; }

.newsletter__section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0; }

.newsletter__text {
  font-size: 1.2rem;
  flex: 2 2 auto; }

@media screen and (min-width: 768px) {
  .newsletter {
    display: flex;
    justify-content: space-between; } }

.projects {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 2rem;
  overflow: hidden; }

.project {
  margin: 3rem 1rem;
  position: relative;
  width: 300px; }

.project:after {
  background: rgba(10, 10, 10, 0.5);
  border-radius: 5px;
  bottom: -1px;
  box-shadow: 0 6px 3px rgba(10, 10, 10, 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.project__date {
  color: #AAAAAA;
  font-size: 1.6rem; }

.project__link,
.project__link:visited {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color;
  color: #967d5a; }

.project__link:hover {
  color: inherit;
  text-decoration: none;
  color: white; }

.project__link--plain {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color; }

.project__link--detail,
.project__link--detail:visited {
  transition: 0.2s color;
  color: white;
  font-size: 1.6rem;
  word-break: break-all; }

.project__link--detail:hover {
  color: #967d5a; }

.project__img-container {
  border: 3px solid #0a0a0a;
  border-radius: 5px;
  display: block;
  height: 180px;
  overflow: hidden;
  position: relative; }

.project__img-container--full {
  height: auto; }

.project__img-container__img {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: #0a0a0a;
  width: 100%; }

.project__title {
  background: linear-gradient(140deg, #0a0a0a 90%, #967d5a 90%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #967d5a;
  font-size: 2rem;
  overflow: hidden;
  margin-top: -0.3rem;
  padding: 1rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap; }

.project__text {
  color: #967d5a;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  padding: 1rem; }

.project__text--label {
  font-size: 1.6rem;
  min-width: 8rem;
  padding: 0; }

.project__text--label::first-letter {
  font-size: 2rem; }

.project__text--description {
  color: white;
  font-size: 1.6rem;
  padding: 0; }

.project__text__section {
  align-items: baseline;
  border-top: 1px solid #967d5a;
  display: flex;
  justify-content: flex-start; }

.project__thumbnail-container {
  overflow: hidden;
  height: 12rem;
  width: 100%; }

.project__thumbnail-container:after {
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
  background-color: white;
  display: block;
  content: "";
  opacity: 0; }

.project__thumbnail-container__img {
  transition: 1s all;
  background-color: white;
  border: 1px solid #E5E5E5;
  box-shadow: 1px 1px 3px #F5F5F5;
  overflow: hidden;
  width: 100%; }

.project-detail {
  background-color: #0a0a0a;
  border: 15px solid #0a0a0a;
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px #967d5a;
  margin: 3rem auto;
  padding: 2rem;
  width: 80%; }

.project-detail__title {
  border-top: 3px solid #967d5a;
  color: #967d5a;
  font-size: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  padding: 1rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap; }

.project:hover .project__img-container__img {
  transform: scale(1.03); }

@media screen and (min-width: 480px) {
  .project {
    width: calc(400px - 2rem); }
  .project__link--detail {
    font-size: 2rem; }
  .project__text--label {
    fonts-size: 2rem; }
  .project__text--label::first-letter {
    font-size: 4.8rem; }
  .project__text--description {
    font-size: 2rem; }
  .project-detail__title {
    font-size: 4.8rem; } }

.ani-slide-saw {
  animation-name: slide-saw-animation;
  animation-duration: 13.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes slide-saw-animation {
  0% {
    transform: translate(0%, 0%); }
  25% {
    transform: translate(-1rem, 0%); }
  50% {
    transform: translate(0%, 0%); }
  75% {
    transform: translate(1rem, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.ani-slide-left-right {
  animation-name: logo-in-animation;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes slide-left-right-animation {
  0% {
    transform: translateX(100%); }
  80% { }
  100% {
    transform: translateX(0); } }

.ani-slide-up {
  animation-name: slide-up-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

@keyframes slide-up-animation {
  0% {
    transform: translateY(100%); }
  40% {
    transform: translateY(0%); }
  70% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }

.ani-slide-right {
  animation-name: slide-right-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  position: relative; }

@keyframes slide-right-animation {
  0% {
    left: -9rem; }
  40% {
    left: 0; }
  70% {
    left: 0; }
  100% {
    left: 9rem; } }

.ani-slide-in-up {
  animation-name: slide-in-up-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.pre-ani-slide-in-up {
  opacity: 0;
  transform: translateY(100%); }

@keyframes slide-in-up-animation {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.ani-slide-right-left {
  animation-name: slide-right-left-animation;
  animation-delay: 1s;
  animation-duration: 3.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  position: relative; }

@keyframes slide-right-left-animation {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

.dots-pattern-sm-leather {
  background-color: transparent;
  background-image: radial-gradient(#967d5a 15%, transparent 16%), radial-gradient(#967d5a 15%, transparent 16%);
  background-size: 10px 10px;
  background-position: 0 0, 30px 30px;
  height: 100%;
  width: 120vw;
  position: absolute;
  z-index: -10; }

.dots-pattern-sm-leather:before {
  bottom: 0;
  color: white;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  background-image: radial-gradient(#967d5a 15%, transparent 16%), radial-gradient(#967d5a 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  animation-name: slide-saw-animation;
  animation-duration: 13.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.dots-pattern-sm-black {
  background-color: white;
  background-image: radial-gradient(#0a0a0a 15%, transparent 16%), radial-gradient(#0a0a0a 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  height: 100%;
  width: 120vw;
  position: absolute;
  z-index: -1; }

.dots-pattern-sm-white {
  background-color: #0a0a0a;
  background-image: radial-gradient(white 15%, transparent 16%), radial-gradient(white 15%, transparent 16%);
  background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  height: 100%;
  width: 120vw; }

.checkers-pattern-md-black {
  background-color: white;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 100px 100px; }

.resume {
  background-color: white;
  border: 15px solid white;
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px #967d5a;
  margin: 0 auto 2rem;
  padding: 3rem;
  position: relative;
  width: 90%; }

.resume:after {
  background: rgba(10, 10, 10, 0.5);
  border-radius: 5px;
  bottom: -15px;
  box-shadow: 0 10px 3px rgba(10, 10, 10, 0.5);
  content: '';
  left: -15px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: -1; }

.resume__job:nth-of-type(even) {
  background: repeating-linear-gradient(45deg, white, white 3px, #faf9f7 3px, #faf9f7 180px); }

.resume__portfolio:nth-of-type(odd) {
  background: repeating-linear-gradient(45deg, white, white 3px, #faf9f7 3px, #faf9f7 180px); }

.resume__education:nth-of-type(odd) {
  background: repeating-linear-gradient(45deg, white, white 3px, #faf9f7 3px, #faf9f7 180px); }

.resume__divider {
  border-bottom: 1px solid #967d5a; }

.resume__label {
  display: inline-block;
  flex: 2 2;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 0;
  min-width: 45%;
  padding: 0 1rem; }

.resume__link,
.resume__link:visited {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0; }

.resume__link:hover {
  color: #967d5a;
  margin: 0 1rem;
  outline: 0;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0;
  text-decoration: underline; }

.resume__link--http {
  text-transform: lowercase; }

.resume__link--http:hover {
  text-transform: lowercase; }

.resume__link--flex {
  flex: 7 7;
  margin: 0; }

.resume__list {
  flex: 7 7;
  margin-left: 2rem; }

.resume__section {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.resume__section--spread {
  background-color: white;
  border: 1px dotted #967d5a;
  justify-content: space-around;
  margin: 10px auto;
  text-align: center;
  width: 80%; }

.resume__section--flex-column {
  align-items: baseline;
  display: flex;
  flex: 7 7;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; }

.resume__title {
  font-size: 2rem;
  padding: 1rem; }

.resume__title--middle {
  text-align: center; }

.resume__title--header {
  background-color: #967d5a;
  border: 0.3rem solid #967D5A;
  box-shadow: inset 0 0 0 3px white;
  color: white;
  margin: 0.5rem 0; }

.resume__tag-line {
  font-size: 1.6rem; }

.resume__text {
  flex: 7 7;
  font-size: 1.6rem; }

@media screen and (min-width: 480px) {
  .resume {
    width: 70%; }
  .resume__label {
    min-width: 45%; } }

@media screen and (min-width: 768px) {
  .resume__label {
    min-width: 30%; } }

@media screen and (min-width: 1000px) {
  .resume__label {
    min-width: 10%; }
  .resume__link {
    font-size: 2rem; }
  .resume__link:hover {
    font-size: 2rem; }
  .resume__link--flex {
    flex: 10 10; }
  .resume__list {
    flex: 10 10; }
  .resume__section--flex-column {
    flex: 10 10; }
  .resume__text {
    flex: 10 10; } }

/*# sourceMappingURL=main.css.map */