//
// mixins backgrounds
//
@import '../colors';
@mixin background-01 {
  background: linear-gradient(60deg, lighten($color-red, 20%) 50%, lighten($color-red, 30%) 50%);
}
@mixin background-01-hover {
  background: linear-gradient(60deg, lighten($color-red, 15%) 70%, lighten($color-red, 25%) 30%);
}
@mixin box-shadow-02 {
  background   : rgba($color-black, 0.5);
  border-radius: 5px;
  bottom       : -15px;
  box-shadow   : 0 10px 3px rgba($color-black, 0.5);
  content      : '';
  left         : -15px;
  position     : absolute;
  right        : -15px;
  top          : -15px;
  z-index      : -1;
  //
  // bottom    : 0;
  // box-shadow: 0 7px 7px 1px rgba($color-black, 0.5);
  // content   : "";
  // left      : 0;
  // position  : absolute;
  // right     : 0;
  // top       : 0;
  // // transform: scale(1.049, 1.10);
  // z-index   : -1;
}
@mixin drop-shadow-01 {
  box-shadow: 2px 2px 0 2px $color-black;
}
