<div class="row">
  <div class="dots-pattern-sm-leather"></div>
  <div class="col-xs-12">
    <div class="main-content">
      <div class="home">
        <h3 class="home__title home__title--fancy">Goodbedford</h3>
        <h4 class="home__title--sm">A.K.A</h4>
        <h3 class="home__title--xs">{{home.bio.name}}</h3>
        <!-- <p><span class="tag-line">"{{home.bio.tagLine}}"</span></p> -->
        <p class="home__footer"><strong>Seeking Opportunities: </strong>{{home.bio.occupation}} Positions</p>
      </div>
    </div>
  </div>
</div>
