<div class="row animated fadeIn">
    <div class="splash-panel">
        <div ng-repeat="blog in blog.blogs">
            <div class="hidden-xs col-sm-3 col-sm-offset-2">
                <div><img ng-src={{blog.img}} alt="{{blog.title}} logo" class="img-responsive"/></div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div>
                    <h3 class="bio-header">{{blog.title}}</h3>
                    <div><span>{{blog.date}}</span></div>
                    <p>{{blog.author}}</p>

                    <div>
                        <p class="bio-detail-2" ng-bind-html="blog.content.thanks"></p>
                        <p ng-bind-html="blog.content.body"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>