//
// component footer
//
@import '../colors';
@import '../fonts';
@import '../mixins/link';
@import '../mixins/transition';
.footer {
  background-color: $color-black;
  border-top      : 1px solid $color-black;
  font-size       : $font-size-xs;
  padding         : 4rem 1rem;
  position        : relative;
}
.footer:after {
  content      : "";
  display      : block;
  position     : absolute;
  width        : 0;
  height       : 0;
  border-left  : 70px solid transparent;
  border-right : 70px solid transparent;
  border-bottom: 70px solid black;
  // border-left : 25px solid transparent;
  // border-right: 25px solid transparent;
  // border-top  : 25px solid $color-leather;
  top          : -35px;
  left         : 50%;
  z-index      : 5;
  transform    : translate(-50%,0%);
}
.footer__logo {
  align-items    : center;
  background     : white;
  border         : 3px solid $color-leather;
  border-radius  : 50%;
  display        : flex;
  height         : 100px;
  justify-content: center;
  margin         : 1rem;
  overflow       : hidden;
  padding        : 1rem;
  width          : 100px;
}
.footer__logo:hover {
  // transform: translate(0,-1rem);
  background-color: $color-black;
  color           : $color-white;
}
.footer__logo:hover .footer__text {
  display: block;
}
.footer__logo:hover .footer__logo__img-container {
  width: 100%;
}
.footer__logo:hover .footer__logo__img-container__img {
  display: none;
}
.footer__logo__img-container {
  @include transition-default;
  width: 50px;
}
.footer__logo__img-container__img {
  width: 100%;
}
.footer__link {
  @include link-default;
  @include transition-color-default;
}
.footer__link:hover {
  @include link-default-hover;
}
.footer__section {
  align-items    : flex-start;
  display        : flex;
  flex-wrap      : wrap;
  font-size      : $font-size-xs;
  justify-content: space-between;
}
.footer__text {
  display   : none;
  font-size : $font-size-md;
  text-align: center;
}
.footer__title {
  color     : $color-white;
  font-size : $font-size-md-plus;
  margin    : 1rem;
  padding   : 1rem;
  text-align: center;
}
@media screen and (min-width: 480px) {}
