<div class="spacer-large">
    <div class="row logo-footer" ng-controller="LogoController as logo">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Skilled in the following</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-sm-2 logos" ng-repeat="logo in logo.logos">
                <div class="text-center"><img ng-src="{{logo.img}}" alt="pic" class="icon"/></div>
                <div class="text-center">{{logo.name}}</div>
            </div>
        </div>
    </div>
</div>