<div class="row">
    <div class="col-xs-12 col-sm-12 nav hidden-xs text-center">
        <ul class="list-inline nav-bar">
            <li><a ui-sref-active="active" ui-sref="site.home">Goodbedford.com</a></li>
            <li><a ui-sref-active="active" ui-sref="site.blog">Blog</a></li>
            <li><a ui-sref-active="active" ui-sref="site.projects">Projects</a></li>
            <li><a ui-sref-active="active" ui-sref="site.resume">Resume</a></li>
            <li><a ui-sref-active="active" ui-sref="site.community">Community</a></li>
            <li><a ng-href="https://www.linkedin.com/in/goodbedford">LinkedIn</a></li>
            <li><a ng-href="https://github.com/goodbedford">Github</a></li>
            <li><a ui-sref-active="active"  ui-sref="site.contact">Contact</a></li>
        </ul>
    </div>
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <div class="row header">
                <div class="col-xs-8 nav-title"><a ui-sref="home" class="brand-logo">Goodbedford.com</a></div>
                <div class="col-xs-2 col-xs-offset-1">
                    <button class="btn-menu" ng-click="nav.isClosed = !nav.isClosed">Menu</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" ng-hide="nav.isClosed">
                    <ul class="list-unstyled nav-bar">
                        <li><a ui-sref="site.home" ng-click="nav.isClosed = !nav.isClosed">Goodbedford.com</a></li>
                        <li><a ui-sref="site.blog" ng-click="nav.isClosed = !nav.isClosed">Blog</a></li>
                        <li><a ui-sref="site.projects" ng-click="nav.isClosed = !nav.isClosed">Projects</a></li>
                        <li><a ui-sref="site.resume" ng-click="nav.isClosed = !nav.isClosed">Resume</a></li>
                        <li><a ui-sref="site.community" ng-click="nav.isClosed = !nav.isClosed">Community</a></li>
                        <li><a ng-href="https://www.linkedin.com/in/goodbedford" ng-click="nav.isClosed = !nav.isClosed">LinkedIn</a></li>
                        <li><a ng-href="https://github.com/goodbedford" ng-click="nav.isClosed = !nav.isClosed">Github</a></li>
                        <li><a ui-sref="site.contact" ng-click="nav.isClosed = !nav.isClosed">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>