//
// colors
//
$color-black       : rgb(10,10,10);
$color-blue-diane  : rgb(29,57,73);
$color-coco-bean   : rgb(64,25,25);
$color-leather     : rgb(150, 125,90);
$color-green       : #34AC98;
$color-green-lite  : #EFF8F7;
$color-granny-smith: rgb(138,160,163);
$color-gray        : #AAAAAA;
$color-gray-dark   : #333333;
$color-gray-lite   : #E5E5E5;
$color-laser       : rgb(201,179,100);
$color-pampas      : rgb(239,236,230);
$color-red         : red;
$color-red-dark    : #401919;
$color-rust        : #EC6635;
$color-shakespeare : rgb(61,149,204);
$color-white       : white;
