//
// design-patterns
//
@import "animation/slide";
.dots-pattern-sm-leather {
  background-color   : transparent;
  background-image   : radial-gradient($color-leather 15%, transparent 16%), radial-gradient($color-leather 15%, transparent 16%);
  background-size    : 10px 10px;
  background-position: 0 0, 30px 30px;
  height             : 100%;
  width              : 120vw;
  position           : absolute;
  z-index            : -10;
}
.dots-pattern-sm-leather:before {
  // background: rgba($color-white, 0.5);
  bottom                   : 0;
  color                    : $color-white;
  content                  : "";
  display                  : block;
  left                     : 0;
  position                 : absolute;
  right                    : 0;
  top                      : 0;
  background-color         : transparent;
  background-image         : radial-gradient($color-leather 15%, transparent 16%), radial-gradient($color-leather 15%, transparent 16%);
  background-size          : 20px 20px;
  background-position      : 0 0, 30px 30px;
  animation-name           : slide-saw-animation;
  animation-duration       : 13.2s;
  animation-fill-mode      : forwards;
  animation-iteration-count: infinite;
  // animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  animation-timing-function: ease-in-out;
}
.dots-pattern-sm-black {
  background-color   : $color-white;
  background-image   : radial-gradient($color-black 15%, transparent 16%), radial-gradient($color-black 15%, transparent 16%);
  background-size    : 20px 20px;
  background-position: 0 0, 30px 30px;
  height             : 100%;
  width              : 120vw;
  position           : absolute;
  z-index            : -1;
}
.dots-pattern-sm-white {
  background-color   : $color-black;
  background-image   : radial-gradient($color-white 15%, transparent 16%), radial-gradient($color-white 15%, transparent 16%);
  background-size    : 20px 20px;
  background-position: 0 0, 30px 30px;
  height             : 100%;
  width              : 120vw;
}
.checkers-pattern-md-black {
  background-color: white;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size : 100px 100px;
}
