//
// fonts and sizes
//
//
// font-family
//
// @import 'https://fonts.googleapis.com/css?family=Gabriela';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Tienne'; // font-size
//
$font-size-xxs    : 0.85rem;
$font-size-xs     : 1rem;
$font-size-sm     : 1.2rem;
$font-size-md     : 1.6rem;
$font-size-md-plus: 2rem;
$font-size-lg     : 2.6rem;
$font-size-xl     : 4.8rem;
$font-size-xxl    : 7.8rem;
