/* sass styles*/

$primary: #353535; //dark gray
$primary-lite: #BAC0AC; //gray-green
$secondary: #ff9901; //orange
$secondary-lite: #E1F3FF; //light blue
$accent: #FAFAC6; //light yellow
$accent2: white;
$accent3: gray;


.bio-detail {
  color: $primary;
}
.bio-detail-2 {
  color: $secondary;
}
.bio-header {
  color: $accent2;
  background-color: $accent3;
  padding: 5px;
}
.bio-label {
  color: $secondary;
  font-weight: bold;
  font-size: 1.2em;
}
.blackout {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 20;
}
.brand-logo {
  color: $primary;
  text-decoration: none;
  padding: 2px 6px;
  &:hover {
    color: $secondary;
    background-color: $accent2;
    text-decoration: none;
  }
}

.btn-menu {
  color:$primary;
  background-color: $secondary;
  outline-width: 0px;
  //font-size: 1.25em;
  border: none;
  &:hover {
    color: $secondary;
    background-color: $accent2;
  }
}
.info-panel {
  border-bottom: 2px solid $primary-lite;
  margin-bottom: 0.5em;
}
.gb-logo {
  height: 200px;
}
.header {
  font-size: 1.25em;
  margin-top: 0;
  padding: 0.5em;
  background-color: $secondary;
  border-bottom: 1px solid $primary;
}

.header-title-btm {
  margin-bottom: 1em;
}
.highlight {
  background-color: $accent;
}

img.icon {
  height: 50px;
  //width: 100px;
}
.img-medium {
  height: 200px;
  max-width: 100%;
}
.img-large {
  height: 300px;
  width: 100%;
}

.logos {
  padding: 0.5em;
  margin: 0.5em;
}
.icon {
  padding: 0.5em;
}

.logo-footer {
  margin-top: 1.5em;
  padding: 2em 0;
  border-top: 2px solid $primary;
  background-color: $accent2;
}
.nav-bar {
  color: $primary;
  background-color: $accent2;
  border-bottom: 1px solid $primary;
  a {
    color: $primary;
    display: block;
    padding: 1.2em 1em;
    text-decoration: none;
    &:hover {
      color: $accent2;
      background-color: $secondary;
    }
  }
  li {
    border-bottom: 1px solid $primary;
  }
}

.splash-panel {
  //background-color: $accent3;
  //border: 5px solid $accent3;
  padding: 2em;
  margin-top: 1em;
}
.spacer-large {
  margin-top: 10em;
}
.spacer-small {
  margin-top: 4em;
}
.tag-line {
  color: $secondary;
  margin-top: 0.5em;
  line-height: 1.25em;
  //font-size: 0.75em;
}


