/* sass styles*/

$primary: #353535; //dark gray
$primary-lite: #BAC0AC; //gray-green
$secondary: #ff9901; //orange
$secondary-lite: #E1F3FF; //light blue
$accent: #FAFAC6; //light yellow
$accent2: white;
$accent3: gray;

.btn-menu {
  color:$primary;
  background-color: $secondary;
  outline-width: 0px;
  //font-size: 1.25em;
  border: none;
  &:hover {
    color: $secondary;
    background-color: $accent3;
  }
}
.header {
  font-size: 1.25em;
  margin: 0.5em;
  padding: 0.5em;
  border-bottom: 1px solid $primary;
}
.gb-logo {
  height: 200px;
}
img {
  height: 50px;
  //width: 100px;
}
.logos {
  padding: 0.5em;
  margin: 0.5em;
}
.icon {
  padding: 0.5em;
}

.logo-footer {
  margin-top: 1.5em;
  padding: 2em 0;
  border-top: 2px solid $secondary;
  background-color: $accent2;
}
.nav-bar {
  color: $primary;
  background-color: $accent2;
  border-bottom: 1px solid $primary;
  a {
    color: $primary;
    display: block;
    padding: 1.2em 1em;
    text-decoration: none;
    &:hover {
      color: $accent2;
      background-color: $secondary;
    }
  }
  li {
    border-bottom: 1px solid $primary;
  }
}
.splash-panel {
  //background-color: $accent3;
  //border: 5px solid $accent3;
  padding: 2em;
  margin-top: 1em;
  .tag-line {
    color: $secondary;
    margin-top: 0.5em;
    line-height: 1.25em;
    //font-size: 0.75em;
  }
}



