/* sass styles*/

$primary: #98A89E; //gray
$primary-lite: #BAC0AC; //gray-green
$secondary: #4A90FF; //blue
$secondary-lite: #E1F3FF; //light blue
$accent: #FAFAC6; //light yellow

.nav-bar {
  color: $accent;
  background-color: $primary;
}




